#set_plan_form_div{
    width: 600px;
    display: flex;
    flex-flow: row wrap;
    margin: 10px;
    justify-content: center;
}

.set_values_div{
    margin: 20px 40px 20px 40px;
}

.set_values_div label{
    font-size: large;
    font-weight: 700;
}

.set_values_div input{
    width: 170px;
    height: 25px;
    border-radius: 10px;
    background-color: antiquewhite;
    border-width: 0px;
}

#set_plan_submit_btn{
    margin-top: 20px;
    width: 300px;
    height: 40px;
    font-size: large;
    font-weight: 700;
    background-color: darkblue;
    color: white;
}